@import './_variable.scss';
@import '~noty/src/noty.scss';
@import '~noty/src/themes/mint.scss';

body {
    font-family: 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;
    color: $dark;
}

nav {
    padding-left: 18px;
    padding-right: 10px;
    position: sticky;
    top: 0px;
    right: 0px;
    background-color: white;
}

@media(max-width:650px) {
    nav {
        flex-direction: column;
        padding: 0px;
    }

    nav .logo {
        margin-bottom: 3px;
    }
}

nav li:last-child a {
    background: $primary;
    border-radius: 30px;

    &:hover {
        background: $primary-hover;
    }
}

nav li a {
    transition: $smooth;

    &:hover {
        color: $primary;
    }
}

section.hero {
    background: $secondary;
}

.size {
    background: $secondary;
}

.add-to-cart {
    border: 2px solid $primary;
    color: $primary;
    transition: $smooth;

    &:hover {
        color: $pure;
        background: $primary;
    }

    &:focus {
        outline: none;
    }
}

.btn-primary {
    background: $primary;
    transition: $smooth;

    &:hover {
        background: $primary-hover;
    }
}

.cart {
    background: $secondary;
}

section.login {
    background: $secondary;
    min-height: calc(100vh - 86px);

    a {
        color: $primary;

        &:hover {
            color: $primary-hover;
        }
    }
}

section.register {
    background: $secondary;
    min-height: calc(100vh - 86px);

    a {
        color: $primary;

        &:hover {
            color: $primary-hover;
        }
    }
}

.amount {
    color: $primary;
}

.noty_theme__mint {
    border-radius: 50px !important;
    padding-left: 10px !important;
}

.link {
    color: $primary;
}

section.status {
    background: $secondary;
    min-height: calc(100vh - 86px);
}

.status-box {
    padding: 20px 0 0;
}

.status-box ul {
    margin-left: 84px;
}

.status-box ul li span {
    position: relative;
    padding-left: 20px;
}

// Dots 
.status-box ul li span:after {
    content: '';
    position: absolute;
    left: -10px;
    top: 50%;
    background: $dark;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    transform: translateY(-50%);
    box-shadow: 0 0 1px 10px $secondary;
}

// Icons 
.status-box ul li span:before {
    font-family: "Line Awesome Free";
    font-size: 46px;
    font-weight: 600;
    position: absolute;
    left: -90px;
    top: 50%;
    transform: translateY(-50%);
    color: inherit;
}

.status-box ul li:nth-child(1) span:before {
    content: '\f46d';
}

.status-box ul li:nth-child(2) span:before {
    content: '\f058';
}

.status-box ul li:nth-child(3) span:before {
    content: '\f2e7';
}

.status-box ul li:nth-child(4) span:before {
    content: '\f84a';
}

.status-box ul li:nth-child(5) span:before {
    content: '\f582';
}

.status-box ul li {
    position: relative;
}

// Line
.status-box ul li:before {
    content: '';
    position: absolute;
    top: 0;
    left: -6px;
    width: 2px;
    height: 100%;
    background: $dark;
    margin-top: 10px;
}

// Last dot 
.status-box ul li:nth-child(5) span:after {
    box-shadow: 0 20px 1px 20px $secondary;
}

// line
.status-box ul li.step-completed:before {
    background: $gray;
}

// dots 
.status-box ul li.step-completed span:after {
    background: $gray;
}

// text 
.status-box ul li.step-completed span {
    color: $gray;
}

// Current status 
.status-box ul li.current span {
    color: $primary;
}

.status-box ul li.current span:after {
    background: $primary;
}

@media(max-width:1050px) {
    .container {
        max-width: 90%;
    }

    table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }
}

@media(max-width:768px) {
    .status-box ul li span:before {
        font-size: 34px;
    }

    .singleOrderHead {
        flex-direction: column;
    }

    .singleOrderHead h1 {
        padding-bottom: 15px;
    }

    .status-box {
        padding: 0px;
    }
}

footer {
    font-family: 'Lato', sans-serif;
}

footer .systern img {
    width: 150px;
}

footer .systern {
    margin-bottom: 20px;
}

footer .addPhoneLoc {
    margin-bottom: 20px;
}

.aboutFeedmore {
    padding-left: 22px;
}

footer .addPhoneLoc i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 15px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

footer .addPhoneLoc p {
    display: inline-block;
    color: gray;
    font-weight: bold;
    vertical-align: middle;
    margin: 0;
}

footer .footer-icons {
    margin-top: 25px;
}

footer .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
    border-radius: 50%;

    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}

@media(min-width:768px) {
    .aboutFeedmore {
        width: 30%;
    }
}

.refresh {
    height: 25px;
}

#totalPrice {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin-bottom: 20px;
}

@media(max-width: 1279px) {
    #totalPrice {
        flex-direction: column;
        align-items: flex-start;
        width: auto;
    }

}

//Device specific styles
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}