<div class="error-page-503">
    <h1 class="text-3xl text-center font-bold mt-8 mb-3">Server facing unexpected load! 5😕3</h1>
    <img src="/img/503.png" alt="503 error">
    <p class="text-center mt-4">The server is currently experiencing issues. Please try again later.</p>
    <p class="text-center">Please connect with system Admin. We appreciate your patience.</p>
    <p class="text-center">Meanwhile, you can place your order on +917872727290.</p>
    <p class="text-center mt-4 font-semibold ">Thank you for your understanding!</p>
</div>